header {
  background-color: #020b12;
  padding: 10px;
  height: 150px;
}

footer {
  background-color: #020b12;
  padding: 10px;
  height: 260px;
}

main {
  padding: 10px;
  background-image: url(https://cdngarenanow-a.akamaihd.net/webth/cdn/roe/mainsite/share.jpg);
  height: 450px;
  background-size: 100%;
 
}

.footer-columns {
  display: flex;
}

.footer-column {
  flex: 50%;
  margin: 10px;
}

h3, h1 {
  color: #FFFFFF;
  font-family: 'Fira Sans', sans-serif;
}

small, a {
	font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
}

.description {
  height: 200px;
  background: url(https://res.cloudinary.com/sivest/image/upload/v1633534076/%D0%94%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD_%D0%B1%D0%B5%D0%B7_%D0%BD%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F_2_xaenoy.png);
  background-attachment: fixed;
  padding: 100px;
}

p {
  color: #FFFFFFFF;
  width: 500px;
  padding: 5px;
  font-family: 'Oswald', sans-serif;
}

.news {
  background-color: #020b12;
  height: 600px;
  padding: 20px;
}

h4 {
  text-align: center;
  color: #FFFFFF;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
}

ul {
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
}

ul.dropdown li { position: relative; }
ul.dropdown-inside {
list-style-type: none;
position: absolute;
left: -9999px;
}
ul.dropdown li.dropdown-top {
display: inline;
float: left;
margin: 0;
}
ul.dropdown li.dropdown-top a {
display: block;
}
ul.dropdown li.dropdown-top:hover .dropdown-inside {
left: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.map {
  height: 600px;
  background-image: url(https://pbs.twimg.com/media/EMVFGIBWwAAe9S1.jpg);
  background-size: 100%;
}

.photo {
	height :500px; 
}

::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #020b12;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #fe9900;
    border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: none;
    background-color: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background: none
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background: none
    background-color: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background: none
    background-color: none;
}