header, footer {
  background-color: #020b12;
  padding: 10px;
  height: 150px;
}

main {
  padding: 10px;
  background-image: url(https://shara-games.ru/6003-ring-of-elysium.jpg);
  height: 450px;
  background-size: 100%;
 
}

.footer-columns {
  display: flex;
}

.footer-column {
  flex: 50%;
  margin: 10px;
}

a, h3, h1, small {
  color: #FFFFFF;
}

.description {
  height: 200px;
  background: url(https://res.cloudinary.com/sivest/image/upload/v1633534076/%D0%94%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD_%D0%B1%D0%B5%D0%B7_%D0%BD%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F_2_xaenoy.png);
  background-attachment: fixed;
  padding: 100px;
}

p {
  color: #FFFFFFFF;
  width: 500px;
  padding: 5px;
}

.news {
  background-color: #020b12;
  height: 600px;
  padding: 20px;
}

h4 {
  text-align: center;
  color: #FFFFFF;
  font-size: 50px;
}

ul {
  color: #FFFFFF;
}

ul.dropdown li { position: relative; }
ul.dropdown-inside {
list-style-type: none;
position: absolute;
left: -9999px;
}
ul.dropdown li.dropdown-top {
display: inline;
float: left;
margin: 0;
}
ul.dropdown li.dropdown-top a {
display: block;
}
ul.dropdown li.dropdown-top:hover .dropdown-inside {
left: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.map {
  height: 600px;
  background-image: url(https://pbs.twimg.com/media/EMVFGIBWwAAe9S1.jpg);
  background-size: 100%;
}

.photo {
	height :500px; 
}